.container {
  text-align: center;
}

.closeIcon {
    display: flex;
    justify-content: end;
    margin: -1.5rem -1.5rem 1rem 1.5rem;
}

.closeIcon:hover {
    cursor: pointer;
}

.dateAndLocation {
  display: flex;
  align-items: center;
  margin-bottom: var(--padding);
}

.date {
  display: flex;
  margin-left: var(--padding-quarter);
}

.location {
  margin-left: auto;
}

.jobTitle {
  margin-bottom: var(--padding-quarter);
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight: bold;
}

.company {
  margin-bottom: var(--padding);
  color: var(--shade-main);
}

.jobDescription {
  text-align: left;
  margin-bottom: var(--padding);
}

.techStack {
  color: var(--shade-main);
}
